<h4>Add a comment</h4>
<% if @post %>
  <%= form_for [post, comment] do |f| %>
    <div class='form-group'>
      <%= f.label :body, class: 'sr-only' %>
      <%= f.text_field :body, class: 'form-control', placeholder: "Enter a comment" %>
    </div>
    <%= f.submit "Submit Comment", class: 'btn btn-default pull-right' %>
  <% end %>
<% elsif @topic %>
  <%= form_for [topic, comment] do |f| %>
    <div class='form-group'>
      <%= f.label :body, class: 'sr-only' %>
      <%= f.text_field :body, class: 'form-control', placeholder: "Enter a comment" %>
    </div>
    <%= f.submit "Submit Comment", class: 'btn btn-default pull-right' %>
  <% end %>
<% end %>
